@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
}

.header__main--site {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.header__main--site video {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  right: auto;
  left: 0;
  bottom: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 1.9rem;
}

.navbar img {
  width: 160px;
  position: relative;
  top: -11px;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 2rem;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  padding: 15px;
  font-weight: 500;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.navbar ul li a:hover {
  color: #000;
  background-color: #fff;
}

.content {
  text-align: center;
}

.content h1 {
  font-size: 90px;
  color: #fff;
}

.content a {
  background-color: #fff;
  text-decoration: none;
  color: #000;
  width: 200px;
  display: inline-block;
  padding: 16px 5px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 1rem;
}
